%h1 Personal home

#session
  = "Welcome #{current_user.username}"
  \|
  = link_to "Log out", logout_path

#new-bookmark
  = render "bookmarks/form"
#bookmarks
  %h2 Bookmarks
  - @bookmarks.each do |bookmark|
    .bookmark
      = link_to bookmark.description, bookmark.url
